@import './common/colors';
@import './common/fonts';

.about-section {
  margin: -15px;
  background-color: $white;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .column-wrapper {
    width: 90vw;
  }

  .about-columns {
    width: 90vw;
    min-height: 85vh;
    text-align: left;
    display: flex;

    .about-column-text, .about-skill-column {
      font-size: 17px;
      letter-spacing: 1px;
      max-width: 50vw;
      margin: 25px;
    }

    .about-column-text {
      background-color: $light-grey;
      padding: 55px;

      .about-btn-more {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      .column-text-btn {
        margin-top: 15px;
        background-color: $mint-green;
        font-family: 'Maven Pro', sans-serif;
        border-radius: 5px;
        padding: 10px;
        border: 5px solid $dark-grey;
        text-decoration: none;
        color: $dark-grey;
        letter-spacing: 1px;
        font-size: 1.4rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          background-color: $dark-grey;
          color: $white;
          border-radius: 50px;
          border-color: #494949;
          transition: all 0.3s ease 0s;
        }
        &:visited {
          color: $dark-grey;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .about-skill-column {
      display: flex;
      flex-wrap: wrap;

      .skill-icon-div {
        padding: 20px;
      }

      .skill-icon {
        font-size: 50px;
        padding: 10px;
        height: 55px;
        background-color: $dark-green;
        color: $white;
        border-radius: 100%;
      }
    }
  }

  h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 4rem;
    margin: 0;
    color: $dark-grey;
  }

  .about-column-text-hidden {
    display: none;
  }

  .about-text-more {
    width: 90vw;
    display: flex;
    justify-content: center;
    height: 500px;
    margin-bottom: 100px;

    a {
      margin: 30px;
      text-decoration: none;
      color: $dark-grey;
      &:visited {
        text-decoration: none;
        color: $dark-grey;
      }
    }

    .about-book {
      display: flex;
      align-items: flex-end;
      background-image: url('../assets/trees-2.jpg');
      background-size: cover;
      height: 100%;
      .about-book-text {
        background-color: rgba(238, 237, 237, .94);
        padding: 15px;
        p {
          font-weight: 300;
        }
      }
    }

    .about-painting {
      background-image: url('../assets/sleeper.jpg');
      background-size: cover;
      display: flex;
      align-items: flex-end;
      height: 100%;
      .about-painting-text {
        background-color: rgba(238, 237, 237, .92);
        padding: 15px;
        p {
          font-weight: 300;
        }
      }
    }

    .about-canals {
      background-image: url('../assets/canals.png');
      background-size: cover;
      display: flex;
      align-items: flex-end;
      height: 100%;
      .about-canals-text {
        background-color: rgba(238, 237, 237, .93);
        padding: 15px;
        p {
          font-weight: 300;
        }
      }
    }

    .home-about-more-box {
      transition: all .3s ease-in-out;
      &:not(:last-child) {
        margin-right: 25px;
      }
      p {
        text-align: left;
        max-width: 350px;
      }
      &:hover {
        transform: scale(.96);
      }
    }
  }

}
