@import 'home';
@import 'about';
@import 'nav';
@import 'projects';
@import 'contact';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
}