@import './common/colors';

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $dark-grey-green;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
  &:hover {
    color: $dark-grey;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: $dark-grey-green;
}

/* General sidebar styles */
.bm-menu {
  text-align: center;
  background: $mint-green;
  padding: 3em 1.5em 0;
  font-size: 3em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $mint-green;
}

/* Wrapper for item list */
.bm-item-list {
  color: $grey-green;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: $dark-grey;
  &:hover {
    color: $dark-grey-green;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: $mint-green;
}