@import './common/colors';

.projects-section {
  background-color: $white;
  min-height: 100vh;
  text-align: center;
  
  h2 {
    border-top: 50px $white solid;
    font-family: 'Maven Pro', sans-serif;
    font-size: 4rem;
    margin: 0;
    color: $dark-grey;
  }

  img {
    max-height: 300px;
    max-width: 40vw;
  }

  .projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .project-details {
      max-width: 40vw;
      padding: 50px;

      p {
        text-align: left;
      }
    }
  }
}