@import './common/colors';

.projects-section {
  background-color: $white;
  min-height: 100vh;
  text-align: center;
  
  h2 {
    border-top: 50px $white solid;
    font-family: 'Maven Pro', sans-serif;
    font-size: 4rem;
    margin: 0;
    color: $dark-grey;
  }

  h3 {
    color: $dark-grey;
    font-size: 1.4rem;
    margin: 5px;
  }

  img {
    max-height: 300px;
    max-width: 40vw;
  }

  .projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
      display: inline-block;
      margin: 30px;
      text-decoration: none;
      color: black;
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(.96);
      }
    }

    .project-details {
      max-width: 40vw;
      padding: 50px;
      max-height: 500px;
      
      p {
        text-align: left;
      }
      
      .project-details-text {
        margin-top: -5px;
        background-color: $light-grey;
        padding: 20px;
      }
    }
  }
}