$light-mint-green: rgb(240, 247, 241);
$mint-green: #CFDDD0;
$grey-green: #E4E5E4;
$light-grey: rgb(238, 237, 237);
$dark-grey: rgb(75, 75, 75);
$dark-grey-green: #AFB8B0;
$white: #fafafa;
$dark-green: rgb(73, 85, 76);